*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    background: #f0f0f0;
    overflow-y: auto;
}

.calendar, .notebook{
    background: white;
    border: 1px solid #ccc;
    height: 380px;
    width: 500px;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.notebook{
  position: relative;
  height: 500px;
}

.calendar header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 15px;
}

.calendar header button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight:bold;
}

.calendar header button:hover {
  background-color: #45a049;
}

.calendar header h2 {
  font-size: 2rem;
}

.weekdays{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
    font-weight: bold;
    color:#555;
    margin-bottom: 10px;
}

.weekdays div {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}


.days div {
  text-align: center;
  padding: 10px 0;
  background-color: #eaeaea;
  border-radius: 4px;
  cursor: default;
  user-select: none;
  transition: 0.5s;
}

.days div.today, #save-note, #prev-btn, #next-btn {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}


.days div:hover{
  background-color: lightblue;
}

.days div.active{
  background-color: coral;
}

.days div.color1{
  outline: 2px solid yellow;
  outline-offset: -2px;
}

.days div.color2{
  outline: 2px solid rgb(212, 0, 255);
  outline-offset: -2px;
}

.days div.color3{
  outline: 2px solid rgb(255, 0, 0);
  outline-offset: -2px;
}



/* Dias fora do mês podem ficar com estilo mais claro */
.days div.outside {
  color: #ccc;
}

#note-text {
  padding: 10px;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  background-color: lightblue;
  border-radius: 5px;
  margin: 5px 0;
}

#save-note{
  position: absolute;
  height: 30px;
  width: 50px;
  right: 15px;
  border: none;
  border-radius: 4px;
  
}

#prev-btn, #next-btn, #color1-btn,#color2-btn, #color3-btn{
  position: absolute;
  height: 30px;
  width: 50px;
  border: none;
  border-radius: 4px;
  left: 15px;
}

#next-btn{
  left: 80px;
}

#color1-btn{
  left: 240px;
  background-color: yellow;
  width: 30px;
}

#color2-btn{
  left: 280px;
  background-color: rgb(212, 0, 255);
  width: 30px;

}

#color3-btn{
  left: 320px;
  background-color: rgb(255, 0, 0);
  width: 30px;
}

.diary-header{
  display: flex;
}

#close-diary{
  position: absolute;
  right: 15px;
  width: 30px;

}



@media screen and (max-width:400px) {

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
  }

body{
  min-height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* evita empurrar conteúdo para centro/baixo */
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.calendar, .notebook{
  width: 325px;
  max-height: 80vh;
  overflow-y: auto;
  margin-left: 32px;
}

.calendar header h2 {
  font-size: 18px;
}

.calendar header button{
  padding-bottom: 23px;
  height: 25px;
}

  
}